version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: breeza-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass123
      MYSQL_DATABASE: breeza_db
      MYSQL_USER: breeza_user
      MYSQL_PASSWORD: breeza_pass_2025
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpass123"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  app:
    image: germanguerrero/breeza-app:latest
    container_name: breeza-app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      - WEATHER_API_KEY=b687e67032891f957e3eb4f4ee4d9753
      - CALENDAR_ID=c556ba951c27378e3eb4eb86c6b7f13ac7940f61688c2224831795fb4d4f9b9a@group.calendar.google.com
      - TIMEZONE=America/Argentina/Buenos_Aires
      - LAT=-34.6037
      - LON=-58.3816
      - DATABASE_URL=mysql+pymysql://breeza_user:breeza_pass_2025@localhost:3306/breeza_db
    volumes:
      - app-credentials:/app/credentials.json
      - app-static:/app/static
    ports:
      - "5000:5000"

volumes:
  mysql-data:
    driver: azure_file
    driver_opts:
      share_name: fs-breeza-mysql-data
      storage_account_name: stbreezadata
      storage_account_key: t5jdrzBnCqoOxHahTflNYBqtHu2pHGLpEHBfioWF5FsxkQ7owUH4w/iq9/kmRkjJQxo3ZWVpIM6Q+AStsB/aaQ==
  app-credentials:
    driver: azure_file
    driver_opts:
      share_name: fs-breeza-app-data
      storage_account_name: stbreezadata
      storage_account_key: t5jdrzBnCqoOxHahTflNYBqtHu2pHGLpEHBfioWF5FsxkQ7owUH4w/iq9/kmRkjJQxo3ZWVpIM6Q+AStsB/aaQ==
  app-static:
    driver: azure_file
    driver_opts:
      share_name: fs-breeza-app-data
      storage_account_name: stbreezadata
      storage_account_key: t5jdrzBnCqoOxHahTflNYBqtHu2pHGLpEHBfioWF5FsxkQ7owUH4w/iq9/kmRkjJQxo3ZWVpIM6Q+AStsB/aaQ==